<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zitatesammlung: Suchergebnis</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1>Zitatesammlung: Suchergebnis</h1>

    <p th:if="${#lists.size(ergebnisListe) > 0}">
        Anzahl Treffer für Suchbegriff "<span th:text="${suchbegriff}">Suchbegriff</span>":
        &nbsp;
        <span th:text="${#lists.size(ergebnisListe)}">0</span>
    </p>
    <p th:if="${#lists.size(ergebnisListe) == 0}">
        Keine Treffer für Suchbegriff "<span th:text="${suchbegriff}">Suchbegriff</span>".
    </p>
    <br><br>

    <p th:each="zitat : ${ergebnisListe}" th:text="${zitat.getZitat()}">
    </p>
    <br><br>

    <a href="../zitatsuche.html">Weitere Suche</a>

</body>