<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zitatesammlung: Zufälliges Zitat</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1>Zitatesammlung: Zufälliges Zitat</h1>

    <p th:text="${zitat}"></p>    
    <br><br>

    <p class="klein">
        Zitat Nr. <span th:text="${id}"></span> 
        von 
        <!--<span th:text="${anzahlZitate}"></span>-->
    </p>

</body>